<div class="container">
<div id="aboutContent">
<h1>About OpenData API:</h1><br>
  API built in the software engineering course of the masters degree in Internet Of Things.<br>
  Built to facilitate release of new software applications, allowing a central point of open information to be consumed.<br>
  <h1>Authors:</h1>
    <div id="aboutAuthors" >
      <div class="row">
            <img class="floatRight" src="https://scontent.flis2-1.fna.fbcdn.net/v/t1.0-9/13240166_1220186474666416_8606788696565796581_n.jpg?oh=b50c16f43b4f77abc497af9aa5d16849&oe=590C21D6" width="60px" height="60px">
            <div class="floatRight">
                <span class="block">Ricardo Anacleto</span>
                <span class="block">ricardosa.mail@gmail.com</span>
            </div>
          </div>
      <div class="row">
             <img class="floatLeft" src="https://scontent.flis2-1.fna.fbcdn.net/v/t1.0-9/13240166_1220186474666416_8606788696565796581_n.jpg?oh=b50c16f43b4f77abc497af9aa5d16849&oe=590C21D6" width="60px" height="60px">
            <div class="form-group floatLeft">
                <span class="block">Pedro Ferreira</span>
                <span class="block">pnlferreira@gmail.com</span>
            </div>
            </div>
      <div class="row">
       <img class="floatRight" src="https://scontent.flis2-1.fna.fbcdn.net/v/t1.0-9/13240166_1220186474666416_8606788696565796581_n.jpg?oh=b50c16f43b4f77abc497af9aa5d16849&oe=590C21D6" width="60px" height="60px">
            <div class="form-group floatRight">
                <span class="block">André Farinha</span>
                <span class="block">andre806@gmail.com</span>
            </div>
            </div>
      <div class="row">
             <img class="floatLeft" src="https://scontent.flis2-1.fna.fbcdn.net/v/t1.0-9/13240166_1220186474666416_8606788696565796581_n.jpg?oh=b50c16f43b4f77abc497af9aa5d16849&oe=590C21D6" width="60px" height="60px">
            <div class="form-group floatLeft">
                <span class="block">João Henriques</span>
                <span class="block">aluno20040@ipt.pt</span>
            </div>
            </div>
      <div class="row" hidden="true">
            <div class="form-group">
                <span class="block">Carlos Gil</span>
                <span class="block">carlospintogil@gmx.us</span>
            </div>
            </div>
      <div class="row" hidden="true">
            <div class="form-group">
                <span class="block">Ricardo Lourenço</span>
                <span class="block">r.l@live.com.pt</span>
            </div>
          </div>

        </div>
  </div>    
</div>
</div>