<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default navbar-inverse" role="navigation">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="" type="submit" ng-click="home()">Home</a>
						</li>
						<li>
							<a href="" type="submit" ng-click="documentation()">Documentation</a>
						</li>
						<li class= "active">
							<a href="" type="submit" ng-click="examples()">Examples</a>
						</li>	
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="" type="submit" ng-click="login()">Login / Register</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<div class="jumbotron">
		<h2>
			Example 1
		</h2>
		<p>
			This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
		</p>
		<p>
			<a class="btn btn-primary btn-large" href="#">Learn more</a>
		</p>
	</div>
	<div class="jumbotron">
		<h2>
			Example 2
		</h2>
		<p>
			This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
		</p>
		<p>
			<a class="btn btn-primary btn-large" href="#">Learn more</a>
		</p>
	</div>
</div>