
 <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default navbar-inverse" role="navigation">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="" type="submit" ng-click="home()">Home</a>
						</li>
						<li class= "active">
							<a href="" type="submit" ng-click="documentation()">Documentation</a>
						</li>
						<li>
							<a href="" type="submit" ng-click="examples()">Examples</a>
						</li>	
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="" type="submit" ng-click="login()">Login / Register</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div> 

      <form name="manageUserForm"> 

        <table ng-show="usersRoles.length > 0" class="table">
          <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Role</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr ng-repeat="user in usersRoles | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td><input type="text" name="userName" ng-model="user.name" required></td>
            <td><input type="text" name="email" ng-model="user.email" required></td>
            <!-- <td>{{user.role.name}}</td>      --> 
            <td>
            <select id="ddl_roles" class="form-control" ng-model="newRole">
                  <option value="">select a role</option> 
                  <option ng-repeat="role in roles" value="{{role.id}}" ng-selected="user.role.id == role.id">{{role.name}}</option>
            </select>
            </td>
            <td><button class="btn btn-danger btn-block" ng-click="viewUser(user)">View</button></td>
            <td><button class="btn btn-danger btn-block" ng-click="updateUser(user,newRole)" >Update</button></td>
            <td><button class="btn btn-danger btn-block" ng-click="deleteUser(user)">Delete</button></td>

          </tr>
          <tr >
            <td colspan="6">
              <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
                {{currentPage+1}}/{{numberOfPages()}}
              <button ng-disabled="currentPage >= usersRoles.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</button>
            </td>
          </tr>

        </table>
      </form>      
 